version: "3.9"

services:
  postgres:
    image: postgres:16.3
    environment:
      POSTGRES_USER: voiceforge
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: voiceforge
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2.5
    ports:
      - "6379:6379"

  livekit:
    image: livekit/livekit-server:v1.7.2
    command: --dev
    ports:
      - "7880:7880"
